<div class="container-fluid">
  <div class="cad">
    <h1>{{ titulo }}</h1>
    <div>
      <button type="button" class="btn btn-danger" routerLink="/home">
        Cancelar
      </button>
      <button type="sumit" class="btn btn-primary" (click)="save()">
        Salvar
      </button>
    </div>
  </div>
  <form [formGroup]="formGroup" class="needs-validation" novalidate enctype="multipart/form-data">
    <div class="card" style="width: 50%;">
      <div class="card-body">
        <div class="form-group">
          <label for="artista">Nome Artista</label>
          <input
            type="text"
            id="artista"
            name="artista"
            class="form-control"
            formControlName="artista"
            [ngClass]="{ 'is-invalid': submitted && hasError('artista') }"
          />
          <div class="invalid-feedback" *ngIf="hasError('artista') && hasError('artista')['required']">
            Por favor, informe o nome do artista.
          </div>
        </div>
        <div class="form-group">
          <label for="album">Nome Álbuns</label><p>( separados por vírgula )</p>
          <input
            type="text"
            id="album"
            name="album"
            class="form-control"
            formControlName="album"
            [ngClass]="{ 'is-invalid': submitted && hasError('album') }" />
          <div class="invalid-feedback" *ngIf="hasError('album') && hasError('album')['required']">
            Por favor, informe o nome do álbum.
          </div>
        </div>
        <div class="form-group">
          <label class="custom-file-label" for="file" id="customFileLabel">Selecionar Imagens Álbum</label>
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              name="files"
              (change)="onChange($event.target.files)"
              accept=".jpeg, .jpg, .png"
              multiple />
          </div>

          <mat-list *ngFor="let item of fileNames; let i = index;">
            <mat-list-item>
              <h4 mat-line>{{ item.nome }}</h4>
              <mat-icon style="cursor: pointer; color: rgb(223, 29, 29);" (click)="removeFromList(i)" >clear</mat-icon>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </form>
</div>
