div {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.group {
  display: flex;
  align-items: center;
}

p {
  font: 14px, Roboto-Regular, sans-serif;
  margin: 0 10px;
}

select {
  width: 40px;
}
