<div class="container-fluid">
  <div class="cad">
    <h1>Artistas</h1>
  </div>
  <div class="d-flex justify-content-center">
    <div class="input-group w-75">
      <input type="text" class="form-control" placeholder="{{ placeholder }}" aria-describedby="button-addon4" #consulta>
      <div class="input-group-append" id="button-addon4">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Consultar por {{ placeholder }}</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="changePlaceholder('artista', 'A')" style="cursor: pointer;">Artista</a>
          <a class="dropdown-item" (click)="changePlaceholder('álbum', 'B')" style="cursor: pointer;">Álbum</a>
        </div>
        <a class="btn btn-success" role="button" (click)="consultar(consulta.value)">Consultar</a>
        <a class="btn btn-primary" role="button" routerLink="/artista/artista-edit">Cadastrar</a>
      </div>
    </div>
  </div>
  <div *ngIf="artistas.length > 0">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>
            <a (click)="setOrder()">
              Nome <span class="material-icons" style="cursor: pointer;">swap_vert</span>
            </a>
          </th>
          <th>Nome Álbuns</th>
          <th>Imagem Álbuns</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let item of artistas'>
          <td>
            <span>#{{ item.id }}</span>
          </td>
          <td>
            <span>{{ item.nome }}</span>
          </td>
          <td>
            <span>{{ getAlbuns(item) }}</span>
          </td>
          <td>
            <span>
                <ngx-avatar [src]="imagem.url" size="30" value="28%" [round]="true" [name]="imagem.nome"
                  *ngFor="let imagem of item.imagens?.slice(0, 5); let i=index"></ngx-avatar>
            </span>
          </td>
          <td>
            <app-menu-list [route]="'artista/artista-edit/' + item.id" [delete]="item" (detalhe)="detalhes(item)" (artistas)="getArtistas()"></app-menu-list>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="footer">
      <app-pagination [total]="totalRow" (pageChange)="onPageChange($event)"></app-pagination>
    </div>
  </div>
</div>
